flask==2.2.5
python-dotenv==1.0.0
langchain==0.0.208
langchain-community==0.0.4
langchain-nvidia-ai-endpoints==0.0.4
sentence-transformers==2.2.2
huggingface-hub==0.17.3
numpy==1.23.4
llama-cpp-python==0.1.78
transformers==4.33.0
PyPDF2==3.0.1
